$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$accent-bgc-color:#2F303A;
$button-hover-color:#188ce8;
$white-color: #FFFFFF;
$section-color: #F5F4FA;
$icon-color: #afb1b8;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$time-transition: 250ms;

$mainFont: "Roboto";
$secondaryFont: "Raleway";